# Branding
PROJECT_NAME="URL Shortener"

# Domains (No Protocol)
APP_DOMAIN=example.com
ADMIN_DOMAIN=admin.example.com
AUTH_DOMAIN=auth.example.com
ADS_DOMAIN=adsexample.com
SHORT_DOMAIN=exa.com

# API Connection (Full URL)
API_BASE=http://api.example.com

# Internal Proxy (Optional, defaults to API_BASE)
# INTERNAL_API_HOST=http://api:8000
